
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&family=Poppins&display=swap');




body{

  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;

  background-image: url('./imgs/pizzaHP.jpeg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
 

  height: 100vh;
  padding: 0%;
margin: 0%;
 
}

*{
  font-family: 'Poppins', sans-serif;

}




/* HOME */

#HomeId{
  /* height: 600px; */
  padding-bottom: 350px;
}
 
#hpText{
  margin-top: 200px;
  font-size: larger;
  color: #000000;
  /* border: 2px solid wheat; */
}
#hpText button{
  border: 1px solid gold;
}

#hpText2{
  margin-top: 200px;
  border: 1px solid gold;
}
#hpText2 h1, button{
  color: gold;
}



 /* NAVBAR */

#navbar{
  width: 100%;
  margin: 0%;
  border-bottom: 1px solid gold;
  background-color: #000000;
}

#navbar img{
  width: 70px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid gold;
}
#navbar a{
  font-weight: bold;
  color: white;
}
#navbar a:active{
  border-bottom: 2px solid gold;
  color: gold;
}
#navbar a:hover{
  border-bottom: 2px solid gold;
}

/* Menu */

#menuPage{
  /* height: 100vh; */

  padding-bottom: 400px;
}

#menuPage img{
  height: 200px;
}

#menuPage button:hover{

  border: 2px solid gold;
 
}

#menuPage button:active{
  color: gold;
  font-weight: bold;
  background-color: green;
}



/* ABOUT */

#aboutContent h1{

  border-bottom: 2px solid yellow;
  padding: 5px 0;
}



/* CONTACT */

#contactSection{
  /* height: 100vh; */
  width: 100%;
  padding-bottom: 400px;
}

#contactSection .form-control{
    border-bottom: 1px solid black;
    border-radius: 0%;
 }

 #contactSection .form-label{
    margin-top: 10px;
    font-weight:500;
 }

 #contactSection button{
  border-radius: 0%;
 }